<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "RubyDCamp" %></title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "now-ui-kit" %>
    <%= stylesheet_link_tag "demo" %>
  </head>
  <body class="index-page">
    <%= yield %>
  </body>
  <!--   Core JS Files   -->
  <%= javascript_include_tag "core/jquery" %>
  <%= javascript_include_tag "core/tether" %>
  <%= javascript_include_tag "core/bootstrap" %>
  <%= javascript_include_tag "plugins/bootstrap-switch" %>
  <%= javascript_include_tag "plugins/nouislider" %>
  <%= javascript_include_tag "plugins/bootstrap-datepicker" %>
  <%= javascript_include_tag "now-ui-kit" %>

  <script type="text/javascript">

      function scrollToDownload() {

          if ($('.section-download').length != 0) {
              $("html, body").animate({
                  scrollTop: $('.section-download').offset().top
              }, 1000);
          }
      }
  </script>
</html>
