<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h4 class="text-center">A few photo's from our previous events</h4>
            <br>
            <div id="carouselExampleControls" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <%= image_tag("dcamp1.jpg", alt: "First slide", class: "d-block") %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Coding retreat, learning best practice.</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag("dcamp2.jpg", alt: "Second slide", class: "d-block") %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Get to know other great minds in the industry.</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag("dcamp3.jpg", alt: "Third slide", class: "d-block") %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Hack and Yack - Discuss relavent topic</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag("dcamp4.jpg", alt: "Fourth slide", class: "d-block") %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Nelspruit - South africa</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>