<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="http://www.rubyfuza.org/">
                        RubyFuza
                    </a>
                </li>
                <li>
                    <a href="#" rel="tooltip" title="Hannes Benson - info@rubydcamp.org.za" data-placement="top">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Coded with love by
            <a href="https://www.linkedin.com/in/legendaryrob/" target="_blank">Legendary Rob</a>.
        </div>
    </div>
</footer>