<div id="images">
    <div class="row">
        <div class="col-sm-3 text-center">
            <h4>Travel</h4>
            <%= image_tag('animaticons/road-trip/animat-road-trip-color.gif', alt: "Road Trip", class: "rounded")%>
            <p class="category">Nelspruit, Mpumalanga, South Africa - One of the most beautiful places in SA.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h4>Sharpen your axe</h4>
            <%= image_tag('animaticons/chop-wood/animat-chop-wood-color.gif', alt: "Circle Image", class: "rounded")%>
            <p class="category">Improve your skills and learn what other top Tech companies are doing in SA.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h4>Networking</h4>
            <%= image_tag('animaticons/campfire/animat-campfire-color.gif', alt: "Raised Image", class: "rounded")%>
            <p class="category">Meet the best within the craft, find other like minded developers passionate about improving.</p>
        </div>
        <div class="col-sm-3 text-center">
            <h4>Eat</h4>
            <%= image_tag('animaticons/grill/animat-grill-color.gif', alt: "Thumbnail Image", class: "rounded")%>
            <p class="category">Food, cots, and the event are graciously paid for by our sponsors.</p>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="space-50"></div>