<div class="space-50"></div>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
            <h2 class="title">3 days and nights of Rubyists in the same place.</h2>
            <h5 class="description">Out-of-towners are welcome to arrive Thursday afternoon/evening and depart Monday morning if it makes their travel more convenient. Bring toiletries, a sleeping bag and/or blanket, pillows, some warm clothing just in case, and a hunger to teach and learn.</h4>
        </div>
    </div>
</div>