<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url(<%= image_path('header.jpg')%>);">
    </div>
    <div class="container">
        <div class="content-center brand">
            <%= image_tag("gem.png", class: "n-logo")%>
            <h1 class="h1-seo">RubyDCamp-ZA</h1>
            <h3>A free unconference to code, share, learn, and improve Ruby.</h3>
        </div>
        <h6 class="category category-absolute">8 - 10 September 2017</h6>
    </div>
</div>
