<div class="section section-signup" style="background-image: url(<%= image_path('bg11.jpg')%>); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <div class="row">
            <div class="card card-signup" data-background-color="orange">
                <form class="form" method="post" action="https://getsimpleform.com/messages?form_api_token=e71b256e352c227098b192bd802d9478" id= "contact_us_form">
                    <div class="header header-primary text-center">
                        <h4 class="title title-up">Learn more</h4>
                        <div class="social-line">
                        <%= image_tag("gem.png", class: "learn-more-logo")%>
                            <p>Would you like to know more about the event? Or would you like to join the ranks of our amazing sponsors. contact us below:</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="First Name..." name="name">
                        </div>
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Email Address..." name="email_address">
                        </div>
                        <div class="form-group">
                            <textarea rows="3" placeholder="Message ..." class="form-control" form='contact_us_form' name="message"></textarea>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <input type="submit" value="Send" class="btn btn-neutral btn-round btn-lg" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>