<div class="section section-download" id="#download-section" data-background-color="black">
    <div class="container">
        <br>
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>Thank you for supporting us!</h3>
            </div>
            <%#we can add all the sponsors for the year down here %>
            <div class="text-center col-md-12 col-lg-8">
                <h6>This event would not be possible if it was not for all the generous support we get from dedicated companies</h6>
                <br>
                <h3>2017 - Sponsors</h3>
                <div class="row">
                  <h6 class="text-primary">If you would like to help support this event for 2017 please contact using the form above.</h6>
                </div>
                
                <div class="space-50"></div>
                <h3>Previous years sponsors include</h3>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <%= image_tag('logos/coldcut.png', alt: "Thumbnail Image", class: "rounded", data: { color: "popover-primary", toggle: "popover", placement: "left", title: "Service Station", content: "", container: "body" })%>
                    </div>
                    <div class="col-sm-3 text-center">
                        <%= image_tag('logos/platform45.png', alt: "Thumbnail Image", style: 'margin-top:20px;', class: "rounded", data: { color: "popover-primary", toggle: "popover", placement: "bottom", title: "Platform45", content: "At Platform45 we believe software is essential to the advancement of human potential. All businesses will, if they haven't already, become software businesses.", container: "body" })%>
                    </div>
                    <div class="col-sm-3 text-center">
                        <%= image_tag('logos/unboxedconsulting.png', alt: "Thumbnail Image", class: "rounded", data: { color: "popover-primary", toggle: "popover", placement: "bottom", title: "Unboxed Consulting", content: "We’re Unboxed. We collaborate to grow ideas for digital products and services. Then we build them. We also improve the way organisations works. We do this through agile and lean techniques, using Ruby on Rails.", container: "body" })%>
                    </div>
                    <div class="col-sm-3 text-center">
                        <%= image_tag('logos/skyverge.png', alt: "Thumbnail Image", class: "rounded", data: { color: "popover-primary", toggle: "popover", placement: "right", title: "Skyverge", content: "", container: "body" })%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col text-center">
        <a href="#0" class="btn btn-simple btn-round btn-white btn-lg cd-top" >back to top</a>
    </div>
</div>