<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-10 offset-xl-1">
            <h3 class="text-center">What does an unconference look like?</h3>
            <div class="space-50"></div>
            <!-- Tabs with Background on Card -->
            <div class="card">
                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#thursday" role="tab">Thursday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#friday" role="tab">Friday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#saturday" role="tab">Saturday</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#sunday" role="tab">Sunday</a>
                    </li>
                </ul>
                <div class="card-block">
                    <!-- Tab panes -->
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="thursday" role="tabpanel">
                            <div class="typography-line">
                                <p><span>Morning</span>Camp opens for early arrivals.</p>
                            </div>
                            <div class="typography-line">
                                <p><span>Throughout</span>Food will be provided. Attendees will need to cook for themselves. The menu generally has a lot of Braai's, we will cater for other diatery requirements but forewarning is required.</p>
                            </div>
                            <div class="typography-line">
                                <h6><span>Remember**</span> to check the "Thursday night" box in the registration form.</h6>
                            </div>
                        </div>
                        <div class="tab-pane" id="friday" role="tabpanel">
                            <div class="typography-line">
                                <p><span>8:00am</span>Breakfast</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:00am</span>Welcome to the event</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:05am</span>TBC</p>
                            </div>
                            <div class="typography-line">
                                <p><span>12:00</span>Lunch</p>
                            </div>
                            <div class="typography-line">
                                <p><span>1:30pm</span>TBC</p>
                            </div>
                            <div class="typography-line">
                                <p><span>5:00pm</span>Retreat adjourns</p>
                            </div>
                            <div class="typography-line">
                                <p><span>5:00pm</span>Dinner</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="saturday" role="tabpanel">
                            <div class="typography-line">
                                <p><span>8:00am</span>Breakfast</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:00am</span>Hannes welcoming speech</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:05am</span>Group brainstorming</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:30am</span>Group Planning Session</p>
                            </div>
                            <div class="typography-line">
                                <p><span>10:00am</span>Open Space sessions begin</p>
                            </div>
                            <div class="typography-line">
                                <p><span>12:00</span>Lunch (often coincides with sessions)</p>
                            </div>
                            <div class="typography-line">
                                <p><span>1:00pm</span>More sessions</p>
                            </div>
                            <div class="typography-line">
                                <p><span>6:00pm</span>Group daily debrief</p>
                            </div>
                            <div class="typography-line">
                                <p><span>6:15pm</span>Dinner</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="sunday" role="tabpanel">
                            <div class="typography-line">
                                <p><span>8:00am</span>Breakfast</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:00am</span>Hannes welcoming speech</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:05am</span>Group brainstorming</p>
                            </div>
                            <div class="typography-line">
                                <p><span>9:30am</span>Group planning session</p>
                            </div>
                            <div class="typography-line">
                                <p><span>10:00pm</span>Open Space sessions begin</p>
                            </div>
                            <div class="typography-line">
                                <p><span>12:00pm</span>We enjoy the last of the spoils before the bus heads back to Jozi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tabs on plain Card -->
        </div>
    </div>
</div>