<div class="section section-nucleo-icons">
      <div class="space-50"></div>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <h2 class="title">What to bring?</h2>
                  <h5 class="description">
                      Since we are a decent distance from home, you may need a few things. Bring toiletries, a sleeping bag and/or blanket, pillows, some warm clothing just in case.
                  </h5>
                  <h5 class="description">
                      We will be doing a fair amount of coding, mostly in ruby. If you have never worked with ruby before you are still most welcome to join in, we have many 
                      people willing to help you learn. If you don't have ruby installed and you are working on windows below is where you should go to get the nessecities installed.
                  </h5>
                        <a href="http://railsinstaller.org/en" class="btn btn-primary btn-round btn-lg" target="_blank">Rails installer for windows</a>
                        <a href="https://www.ruby-lang.org/en/" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">learn more about Ruby</a>

              </div>
              <div class="col-lg-6 col-md-12">
                  <div class="icons-container">
                   <%= image_tag('camping.jpg', alt: "Raised Image", class: "rounded")%>
                  </div>
              </div>
          </div>
      </div>
  </div>