
<%= partial('partials/navbar') %>

<div class="wrapper">
    <%= partial('partials/page_header') %>
    <div class="main">
        <div class="section">
            <%= partial('partials/intro') %>
        </div>

        <div class="section">
            <div class="container">
              <%= partial('partials/image_banner') %>
            </div>
        </div>

        <div class="section section-tabs">
            <%= partial('partials/tab_forms') %>
        </div>

        <div class="section" id="carousel">
            <div class="space-50"></div>
            <%= partial('partials/carousel') %>
        </div>

        <%= partial('partials/what_to_pack') %>

        <div class="space-50"></div>
        <%= partial('partials/sign_up') %>
        <%= partial('partials/support') %>
    </div>
    <%= partial('partials/modals') %>
    <%= partial('partials/footer') %>
</div>
