<div class="section section-images">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-images-container">
                    <%= image_tag("hero-image-1.png", alt: '') %>
                </div>
                <div class="hero-images-container-1">
                    <%= image_tag("hero-image-2.png", alt: '') %>
                </div>
                <div class="hero-images-container-2">
                    <%= image_tag("hero-image-3.png", alt: '') %>
                </div>
            </div>
        </div>
    </div>
</div>
