<div class="space-50"></div>
<div id="images">
    <h4>Images</h4>
    <div class="row">
        <div class="col-sm-2">
            <p class="category">Image</p>
            <%= image_tag('avatar.jpg', alt: "Rounded Image", class: "rounded")%>
        </div>
        <div class="col-sm-2 offset-sm-1">
            <p class="category">Circle Image</p>
            <%= image_tag('avatar.jpg', alt: "Circle Image", class: "rounded-circle")%>
        </div>
        <div class="col-sm-2 offset-sm-1">
            <p class="category">Raised</p>
            <%= image_tag('avatar.jpg', alt: "Raised Image", class: "rounded img-raised")%>
        </div>
        <div class="col-sm-2 offset-sm-1">
            <p class="category">Circle Raised</p>
            <%= image_tag('avatar.jpg', alt: "Thumbnail Image", class: "rounded-circle img-raised")%>
        </div>
    </div>
    <div class="row">
    </div>
</div>